*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #f5f7fa;
    font-family:  'Roboto-Bold', sans-serif;
}
.header1{
    background-color: #f5f7fa;
    font-size: 32px;
    color: #5e5e5e;
}
.header2{
    list-style-type: none;
    float: right; 
    margin-top: 10px;
    color: #5e5e5e;
    font-weight: bolder;
}
.icon {
    cursor: pointer;
    float: right;
    color: #5e5e5e;
    display: none;
}
.icon:hover{
    color: #1d28c0;
}
.header3{
    list-style-type: none;
    color: #5e5e5e;
    font-weight: bolder;
}

.header2 a{
    text-align: center;
    text-decoration: none;
    color: #5e5e5e;
    padding: 10px;
    cursor: pointer;
}
.all{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
.header2 a:hover{
    color:#1d28c0;
}
.all:hover{
    color:#b6b1d4;
}

.header-body{
    width: 80%; 
    margin:30px auto;
}
.container-header{
    width: 100%; 
    height: 550px; 
    background-color: #1d28c0;
    padding: 20dp;
}
.container-img{
    margin-top: 40px; 
    margin-left: 60px;
    border-radius: 8px;
    border: 4px solid #fff;
}
.container-body{
    width: 330px;
    color: #fff; 
    margin-left: 45px;
    margin-top: 35px;
}
.container-main{
    text-align: center;
    font-size: 42px; 
    font-weight: bold;
}
.container-paragraph{
    text-align: center;
    font-size: 18px; 
    margin-top: 12px;
}
.container-button{
    font-weight: bold;
    padding: 10px;
    border-radius: 30px; 
    border: none;
}
.container-button1:hover{
    padding: 12px;
}
.container-button2:hover{
    padding: 12px;
}
.margin{
    margin-top: 30px;
}
.me{
    font-size: 32px; 
}
.me-paragraph{
    font-size: 18px; 
    line-height: 26px; 
    margin-top: 10px;
    line-height: 30px;
}
.table{
    font-size: large; 
    width: 100%;
}
.table tr td{
    height: 50px;
    padding-top: 8px;
}
.skills{
    margin-top: 30px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.skills-column{
    margin-top: 6px;
    width: 100%; 
    background-color: #f1f1f1; 
    border-radius: 8px;
}
.skills-row1{
    background-color: #1d28c0; 
    padding: 8px; 
    border-radius: 8px;
}
.column-header{
    margin-top: 24px;
}
.edu{
    border: 1px solid #dbdbdb; 
    border-left: 4px solid #1d28c0;
    border-radius: 4px;
    padding: 30px; 
    margin-bottom: 20px;
    
}
.edu-main{
    padding-top: 50px;
    width: 90%; 
    margin:30px auto; 
    color: #000; 
}
.edu-main1{
    padding-top: 50px;
    width: 90%; 
    margin:30px auto; 
    color: #000; 
}
.edu-inline{
    font-size: 16px; 
    font-weight: lighter;
}
.footer{
    background-color: #1d28c0;
    text-align: center; 
    color: #fff;
}